.editor {
    background: #f3f2f1;
    padding: 8px;
    height: 100%;
}

.editor .main {
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
    margin: 5px 0;
    padding: 5px;
}

.description {
    white-space: pre-wrap;
}

.editor h2 {
    padding: 0 0 0 20px
}

.editor .field {
    flex-grow: 1;
}

.margin-top {
    margin-top: 16px;
}

.editor .section {
    padding: 0 0 30px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 700px;
}

.ribbon .toolbarContainer {
    height: 40px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
    margin: 5px 0;
}

.tablistContainer {
    margin: 10px 0;
}

.collabContainer {
    float: right;
    padding-top: 10px;
}

.collabContainer button {
    height: 25px;
    margin: 0 5px;
}

.authButton {
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 5px;
}

.ribbon .comboboxLabel {
    padding-right: 8px;
}

.create-dialog {
    width: 360px;
    padding: 16px 24px 24px 24px;
    white-space: pre-wrap;

    h2 {
        padding: 0;
        margin: 0;
        white-space: inherit;
        font-size: 20px;
        font-weight: 600;
    }

    .section {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        white-space: inherit;
    }

    .create-buttons {
        justify-content: right;
    }
}

.panel {
    padding: 8px;
}

.panel .section {
    margin: 5px;
}

.panel .field {
    flex-grow: 1;
}


.explorer {
    min-width: 200px;
    width: 25vw;
    height: 70vh;
    vertical-align: middle;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
    margin: 5px 0;
    padding: 5px;
    display: flex;

    .top {
        padding: 5px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h1 {
            font-family: 'Segoe UI', sans-serif;
            font-size: 16px;
            font-weight: 600;
            margin: 10px;
        }
    }

    .selector-body {
        display: flex;
        align-items: start;
        overflow: hidden;

        .tree-container {
            width: 100%;
            overflow-y: auto;
        }
    }

    .selector-tree-item {
        display: flex;
        width: 100%;
    }

    .fui-TreeItemLayout__main {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .main-body {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;

        .add-button {
            margin: 0;
            width: 51px;
            min-width: auto;
            height: 32px;
            font-size: 14px;
        }

        .add {
            font-size: 20px;
            font-weight: 600;
            margin: 0px;
            padding: 24px 0;
        }
    }
}


.tree {
    .lvl1 {
        padding-left: 15px;
    }

    .lvl2 {
        padding-left: 39px;
    }

    .selected {
        background-color: var(--colorNeutralBackground1Selected);
    }
}

.spinner {
    justify-content: center;
}


.rtl>* {
    direction: rtl;
    text-align: start;
}

.message-bar-body {
    display: flex;
    align-items: center;
    gap: 0.5rem
}

.divider {
    margin: 20px 0px;
}

.kql-explorer {
    h2 {
        padding: 0 0 0 0px
    }

    .message-bar-container {
        padding: 10 0 0 0px;
    }

    .label-key {
        color: #707070;
        margin-right: 8px;
    }

    .label-value {
        font-weight: normal;
        color: #242424;
    }

    .kql-query-input {
        resize: none;
        padding: 10 10 10 10px;
        margin: 20px 0px;
        flex: 1;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        overflow: hidden;
    }

    .button-group {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 5px 0;
        box-sizing: border-box;
    }

    .run-query-button {
        background-color: #117865;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        align-self: flex-start;
    }

    .run-query-button-disabled {
        background-color: #d3d3d3;
        color: #a9a9a9;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: not-allowed;
        opacity: 0.6;
        align-self: flex-start;
    }

    .cancel-query-button {
        background-color: #e11d48;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        align-self: flex-end;
    }

    .run-query-explore-results {
        height: 300px;
        width: 700px;
        border-radius: 8px;
        border: 1px solid #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.kql-query-result-table {
    min-width: 200px;
    width: 100%;
    height: 300px;
    vertical-align: middle;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    overflow: auto;

    .styled-table {
        width: 100%;
        border-collapse: collapse;
        font-size: 16px;
        text-align: left;
    }

    th,
    td {
        padding: 12px 15px;
        border: 1px solid #ddd;
    }

    th {
        background-color: #d3d3d3;
        color: black;
        font-weight: bold;
    }

    tr:nth-of-type(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #f1f1f1;
    }
}

.kql-ingestor {
    h2 {
        padding: 0 0 0 0px;
    }

    .message-bar-container {
        padding: 10 0 0 0px;
    }

    .label-key {
        color: #707070;
        margin-right: 8px;
    }

    .label-value {
        font-weight: normal;
        color: #242424;
    }

    .data-ingestion {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .ingest-button {
            background-color: #127865;
            color: #ddd;
            transition: background-color 0.3s ease;
            margin-right: auto;
        }

        .ingest-button:hover {
            color: #f2f2f2;
            background-color: #0a5a4a;
        }

        .ingest-button.disabled {
            background-color: #f3f2f1;
            color: #a19f9d;
            cursor: not-allowed;
        }

        .ingestion-type-radio-group {
            margin-left: 10px;
            margin-top: 10px;
            margin-left: auto;
            width: 200px;

            .label {
                margin-left: 8px;
            }
        }
    }
}

.eventstream-editor {
    h2 {
        padding: 0 0 0 0px;
    }

    .message-bar-container {
        padding: 10 0 0 0px;
    }

    .description-label {
        font-weight: bold;
    }

    .label-key {
        color: #707070;
        margin-right: 8px;
    }

    .label-value {
        font-weight: normal;
        color: #242424;
    }

    .events-ingestion {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .send-button {
            background-color: #127865;
            color: #ddd;
            transition: background-color 0.3s ease;
            margin-right: auto;
        }

        .send-button:hover {
            color: #f2f2f2;
            background-color: #0a5a4a;
        }

        .send-button.disabled {
            background-color: #f3f2f1;
            color: #a19f9d;
            cursor: not-allowed;
        }
    }
}

.data-generator {
    .input-container {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .input-container input {
        width: 180px;
    }

    .rows-container {
        max-height: 250px;
        overflow-y: auto;
        margin-top: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) td:not(.actions-column) {
        background-color: #f9f9f9;
    }

    tr:hover td:not(.actions-column) {
        background-color: #ddd;
    }

    .actions-column {
        text-align: center;
        border: none;
        background-color: transparent;
    }

    .actions-column th,
    .actions-column td {
        border: none !important;
        background-color: transparent !important;
    }

    .add-row-button {
        background-color: #127865;
        color: ddd;
        border-radius: 50%;
        transition: background-color 0.3s ease;
        margin-left: 42px;
    }

    .add-row-button:hover {
        color: f2f2f2;
        background-color: #0a5a4a;
    }

    .add-row-button:disabled {
        background-color: gray;
        color: white;
    }

    .remove-row-button {
        background-color: f1364b;
        border-radius: 50%;
        color: ddd;
        transition: color 0.3s;
    }

    .remove-row-button:hover {
        background-color: rgb(240, 94, 94);
        color: f2f2f2;
    }
}